body{
    width: 1000px;
    height: 100vh;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;

}

h1, h2, h3 {
font-family: 'Frank Ruhl Libre', serif;;
}
p{
    color:rgba(0, 0, 0, 0.6);}

.content .rectangle h1, .about h1, .quick-info h2{
    font-size: 45px;
    line-height: 45px;
    font-weight: 900;
}

.content .left p {
    padding-right: 12rem;
    margin-bottom: 0;
    
}

.content p, .gray .text{   
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;

}

.content quote{
    color: antiquewhite;
    font-weight: 600;
}
.content .orange p,.content .yellow p {
    color:rgba(0, 0, 0, 0.5);
    font-size: 11px;
    font-weight: 700;
    margin: 0;
}


.content .orange h1, .content .yellow h1{
    color:rgba(255, 255, 255, 1);
    font-size: 32px; 
    margin: 0;
}

.about h1{
    color: rgba(255, 255, 255, 1);
}

.about p{
    max-width: 500px;
}

.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}
.content .left{
    background-color:#C7DDEA;
    grid-column: auto/span 3;
    grid-row: span 2;
    padding-left: 3rem;
    padding-top: 3rem;
}

.content .picture{
    display: flex;
}

.content img{
    width:286px;
    height: 279px;
    justify-self: flex-end;
}

button{
    width: 131px;
    height: 39px;
    border-radius: 100px;
    border-style: none;
    margin-bottom: auto;
    margin-top: 50px;
    font-size: 10px;
    font-weight: 600;
    line-height: 3px;
}

.content .orange {
    background: #F17949;
    grid-column: auto/span 3;

}

.content .yellow{
    background: #FFB939;
    grid-column: auto/span 3;
}

.rectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center    
}

.navigation{
    display: flex;
    justify-content: space-around;
    margin: 3rem 3rem 3rem 3rem;
}


.container {
    display: grid;
    grid-template-columns: repeat(6,1fr);

}
.gray{
    background-color: rgba(169, 161, 158, 1);    
    grid-template-columns: repeat(6,1fr);

}

.container .headline{
    color: rgba(255, 255, 255, 1);
    font-size: 45px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: -0.02em;
    text-align: left;

}
.container .text {
    font-size: 14px;
}

.container .card{
    grid-row: 2;
}

.pic {
background-image: url("/img/child.png");

background-size: 40%;
background-repeat: no-repeat;
background-position: center 55%;
}

.container .gray{
   background-color:rgba(169, 161, 158, 1);

}
.about {
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    background-color: rgba(250, 177, 49, 1);
}

.quick-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,340px);
}
  .box-0, .box-1 , .box-2, .box-3, .box-4, .box-5 {
    padding: 10px;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quick-info h3{
font-weight: 900;
font-size: 35px;
 align-self: flex-start;
 margin-bottom: 0;
 margin-top: 0;
 color: rgba(0, 0, 0, 0.4);
}

.quick-info h2{
    color:rgba(0, 0, 0, 0.8);
    max-width: 150px;
    text-align: center;
}

.quick-info p{
    max-width: 250px;
    margin-top: 100px;
    margin-bottom: auto;
}

.quick-info .box-0{
    background-color: rgba(199, 221, 234, 1);
}

.quick-info .box-1, .quick-info .box-3, .quick-info .box-5{
    background-color: rgba(255, 255, 255, 1);
}

.quick-info .box-2{
    background-color:rgba(235, 235, 235, 1);
}

.quick-info .box-4{ background-color: rgba(241, 121, 73, 1);

}
